
#id_titulo, #id_parcerias, #id_produto{
    width: 400px;
}

.form-row{
    position: relative;
    padding: 0 !important;
    padding-top: 5px !important;
}
div.help{
    display: none;
}
/*div.help{*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    left: 125px;*/
/*    z-index: 2;*/
/*}*/
/*#tabs-4  div.help{*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    left: 215px;*/
/*    z-index: 2;*/
/*}*/

/*div.form-row input{*/
/*    z-index: 100;*/
/*}*/
/*form .aligned div.help{*/
/*    margin-left: 0px !important;*/
/*}*/
.aligned label{
    width: 110px !important;
}
#tabs-4  label{
    width: 200px !important;
}
.field-OutrosFornecedor1 label, .field-OutrosFornecedor2 label, .field-OutrosFornecedor3 label, .field-OutrosFornecedor4 label{
    width: 200px !important;
}

.timezonewarning {
  display: none; !important;
}

#id_DiretorCriacao, #id_Atendimento, #id_Aprovacao{
    width: 660px !important;
}
#id_OutrosAgencia1,#id_OutrosAgencia2, #id_OutrosAgencia3, #id_OutrosAgencia4, #id_Midia, #id_Planejamento, #id_ProducaoGrafica, #id_ProducaoRTVC, #id_OutrosFornecedor1, #id_OutrosFornecedor2, #id_OutrosFornecedor3, #id_OutrosFornecedor4, #id_TecnologiaDigital{
    width: 580px !important;
}
#id_Redacao, #id_DiretorArte{
    width: 920px !important;
}
#id_ProdutoraFilme, #id_DiretorFilme, #id_ProdutoraAudio, #id_DiretorAudio, #id_EstudioFotografia, #id_Fotografo, #id_EstudioIlustracao, #id_Ilustrador, #id_ManipulacaoDigital, #id_Finalizacao{
    width: 370px !important;
}

div.field-agencia label.inline{
    width: 70px !important;
    padding-right: 0 !important;
}

a#calendarlink0 {
    display: inline !important;
}
span.datetimeshortcuts a{
    display: none;
}
fieldset.module h2{
    display: none;
}
