.dialog{
  display: none;
  position: fixed;
  z-index: 30000;
  padding-top: 100px; /* Location of the box */
  left: 0;/* Si */
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 5px;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


#cancelar{
  padding: 6px 16px;
  margin-left: 10px;
  float: left;
}
#cancelar:hover{
  color: white;
}

/* The Close Button */
.close {
  color: white;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  height: 40px;
  background-color: #8cc3de;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 2px solid #f9f9f9 ;
}

.modal-body {padding: 2px 16px; min-height: 230px; background-color: #f5f5f5; overflow: hidden}

.modal-footer {
  padding: 2px 16px;
  height: 50px;
  background-color: white;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 2px solid #f9f9f9 ;
  overflow: auto;
  position: relative;
}
.mostrar{
  float: left;
  border: none;
  font-weight: 400;
  background: #417690;


}
#id_mostrar{
  float: left;!important;
  color: #ffff;!important;
  margin-bottom: 10px!important;
}

.add-row{
  display: none;
}
.column1{
    float: left;
    padding: 10px;
}
.dialog .modal-body .column1 label{
    display: block !important;
    margin-bottom: 5px;
}
#salvar{
    float: left;!important;
    font-size: 15px;
    padding: 6px 16px;
    background-color: #417690!important;
}
p#obs-modal{
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}
strong#dicas-modal{
  color: #930b3a;
  margin-top: 20px;
  display: inline-block;
  clear: both;
  float: left;
}
.column2{
  display: none;
  margin-left: 30px;
  float: left;
}
.column2 .file .botao {
  margin-top: 30px;
  padding: 5px !important;
  border-radius: 2px !important;
}
.column3{
  display: none;
  margin-left: 30px;
  float: left;
  padding-top: 10px;
}
#file{
  display: none;!important;
}
#id_url{
  margin-top: 5px;
}
#visualizar{
  float: left;
  padding: 6px 16px;
  margin-left: 10px;
}
.carregar{
  display: none;
  position: fixed;
  z-index: 30000;
  padding-top: 100px; /* Location of the box */
  left: 0;/* Si */
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.spinner {
    position: relative;
    top: 20%;
    left: 45%;
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #22a6b3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
@keyframes spin{
  to { transform: rotate(360deg); }
}