{% load i18n static %}<!DOCTYPE html>
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static 'admin/css/base.css' %}{% endblock %}" />
{% block extrastyle %}{{ block.super }}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

</head>
<style>


</style>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header" style="height: 60px; padding-bottom: 15px; padding-left: 50px; background-color: #8cc3de; color: #5a5a48">
        <div id="branding" >
            <!--{% block branding %}{% endblock %} -->
            <img class="logo" src="{% static 'base/img/logo.png' %}" alt="" height="70" width="120">
        </div>
        {% block usertools %}
        {% if has_permission %}
        <div id="user-tools" style="padding-top: 12px;"> <!-- editando aqui -->
            {% block welcome-msg %}
                {% trans 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                {% if site_url %}
                    <a href="{{ site_url }}">{% trans 'View site' %}</a> /
                {% endif %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
        {% endif %}
        {% endblock %}
        {% block nav-global %}{{ block.super }}{% endblock %}
    </div>
    <!-- END Header -->
    {% block breadcrumbs %}
    <div class="breadcrumbs" style="">

    <a href="{% url 'admin:index' %}" >{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">

        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}    
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}

        <br class="clear" />
    </div>

    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<script>
    $('#id_nome').attr('style', "text-transform: uppercase;")
    $('#id_nome').on("change", function () {
            nome = $('#id_nome').val();
            p = ["LTDA", "PROPAGANDA", "COMUNICAÇÃO", "CRIAÇÃO", "PROMOÇÕES", "DESIGN"]
            nome_final = ''
            nome_array = nome.split(' ')
            for (x in nome_array) {
               if (jQuery.inArray( nome_array[x].toUpperCase(), p )==-1) {
                    nome_final = nome_final + ' ' + nome_array[x]
                }
            }
            nome_final = nome_final.trim()
            $('#id_nome').val(nome_final);
        });

        function pesquisaCep() {
            var entrada = document.getElementById('id_cep').value.replace('-', '')
            $.get(`https://viacep.com.br/ws/${entrada}/json/`, function(endereco, status) {
                if (status == 'success') {
                    //console.log(endereco)
                    $('#id_endereco').val(endereco.logradouro)
                    $('#id_bairro').val(endereco.bairro)
                    $('#id_uf').val(endereco.uf)
                    $('#id_cidade').val(endereco.localidade)
                }
            });
        }

        $('#id_cep').blur(pesquisaCep);
        
        function remover(arg){
            return arg.replace('-', '')
        }

        $('body').on("submit", function(){
            $('#id_telefone').val(remover($('#id_telefone').val()))
            $('#id_celular').val(remover($('#id_celular').val()))
            $('#id_VP_Telefone').val(remover($('#id_VP_Telefone').val()))
            $('#id_C1_Telefone').val(remover($('#id_C1_Telefone').val()))
            $('#id_C2_Telefone').val(remover($('#id_C2_Telefone').val()))
        });

        $('#id_telefone').mask('00000-0000');
        $('#id_telefone').blur(function(event){
            if ($(this).val().length == 9){
                 $(this).mask('0000-00009');
            }else{
                $(this).mask('00000-00009');
            }
        });

        $('#id_celular').mask('00000-0000');
        $('#id_celular').blur(function(event){
            if ($(this).val().length == 9){
                 $(this).mask('0000-00009');
            }else{
                $(this).mask('00000-00009');
            }
        });

        $('#id_VP_Telefone').mask('00000-0000');
        $('#id_VP_Telefone').blur(function(event){
            if ($(this).val().length == 9){
                 $(this).mask('0000-00009');
            }else{
                $(this).mask('00000-00009');
            }
        });

        function carregar(cont){
             $.get(`/tipos_materiais/${$('#id_premiacao').val()}`, function (res) {
                for(var i = 0; i < cont; i++){
                    var select = document.getElementById(`id_material_set-${i}-tipo`)
                    var val_select = $(select).val()
                    $(select).empty()
                    $(select).append($('<option></option>').attr("value", '').text('------'))
                    $.each(res, function (id, value) {
                        if(val_select == value.id){
                            $(select).append($('<option value=" '+value.id+' " selected="selected">'+ value.text+'</option>'))
                        }
                        else{
                            $(select).append($('<option value=" '+value.id+' ">'+ value.text+'</option>'))
                        }
                    })
                }
            })
        }
        function habilarCampos(valor, campo, classe){
            campo = campo.split('tipo')
            var arquivo = campo[0] + 'arquivo'
            var url = campo[0] + 'url'
            classe = classe.split('-')
            classe = classe[0] +'-'+ classe[1]

            $.get(`/tipos_materiais/${$('#id_premiacao').val()}`, function (res) {
                 $.each(res, function (id, value) {
                    if(valor == value.id){
                        if(value.url != true){
                            $(`.dynamic-material_set .field-url input#${url}`).prop('disabled', true)
                            console.log(value.url)
                        }
                        else{
                            $(`.dynamic-material_set .field-url input#${url}`).prop('disabled', false)
                            console.log(value.url)
                        }
                        if(value.arquivo != true){
                            $(`.dynamic-material_set .field-arquivo input#${arquivo}`).prop('disabled', true)
                            console.log(value.arquivo)
                        }
                        else{
                           $(`.dynamic-material_set .field-arquivo input#${arquivo}`).prop('disabled', false)
                            console.log(value.arquivo)
                        }
                        // if(value.roteiro == false){
                        //     $(`table tbody tr#${classe} td.btn-editar input[type=button]`).css('display', 'none')
                        //     console.log('Desabililar')
                        //     console.log(`tr#${classe} td.btn-editar input`)
                        // }
                        // else{
                        //      $(`table tbody tr#${classe} td.btn-editar input[type=button]`).css('display', 'inline-block')
                        //     console.log('habiliar')
                        //     console.log(`tr#${classe} .btn-editar input`)
                        //
                        // }
                    }
                 })
            })
        }
        function carregarUm(cont){
            //console.log(cont)
             $.get(`/tipos_materiais/${$('#id_premiacao').val()}`, function (res) {
                    var select = document.getElementById(`id_material_set-${cont-1}-tipo`)
                    $(select).empty()
                    $(select).append($('<option></option>').attr("value", '').text('------'))
                    $.each(res, function (id, value) {
                        $(select).append($('<option></option>').attr("value", value.id).text(value.text))
                    })
            })
        }
        function contarSelects(){
            return document.querySelectorAll('.dynamic-material_set .field-tipo select').length
        }
        // function contarLinhas(){
        //     return document.querySelectorAll('table tbody tr.dynamic-material_set').length
        // }
        $(document).ready(function () {
            carregar(contarSelects())
            $('#id_premiacao').change(function () {
                carregar(contarSelects())
            })
            $('.add-row').click(function () {
               carregarUm(contarSelects())
                // $('.btn-editar a.inline-deletelink').css('display', 'none')
                //  $('.btn-editar input').click(function () {
                //     $('#mensagem').modal()
                //  })
                 $('.dynamic-material_set  td.field-tipo select').change(function (event) {
                    var campo = event.target.id
                    var classe = event.target.name
                    habilarCampos($(this).val(), campo, classe)
                })
            })

            $('.dynamic-material_set  td.field-tipo select').change(function (event) {
                //console.log($(this).val())
                console.log(event.target.id)
                 var campo = event.target.id
                // //document.querySelector('.dynamic-material_set .field-tipo select').className;
                var classe = event.target.name
                console.log($(this).val())
                 habilarCampos($(this).val(), campo, classe)
            })
        })

</script>

</body>

</html>
