{% extends "admin/edit_form.html" %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript">
(function($) {
    $(document).ready(function(){
        if($('#id_controle_manual').attr('checked') == true){
            $('.field-formato').hide();
        }else{
            $('.field-formato').show();
        }
        $('#id_controle_manual').click(function(event) {
            if($('#id_controle_manual').attr('checked') == true){
                $('.field-formato').slideUp();
                $('#id_formato option:selected').removeAttr("selected");
            }else{
                $('.field-formato').slideDown();
            }
        });
    });
})(django.jQuery);
</script>
{% endblock %}