<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {% include "base/includes/css_padrao.html" %}

        {% block css %}{% endblock %}

        <title>Template provisório</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row my-2">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">

                            {% if request.user.is_authenticated %}
                                <p class="text-center">Usuário logado: {{request.user.username}}. <a href="{% url 'logout' %}">Sair</a></p>
                            {% else %}
                                <p class="text-center">
                                    <a href="{% url 'login' %}" class="btn btn-default">Login</a>&nbsp;
                                    <a href="{% url 'registro' %}" class="btn btn-primary">Registrar</a>
                                </p>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

            {% block conteudo %}
                <div class="row my-2">
                    <div class="col-md-6 offset-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="text-center">Página Inicial</h1>

                                <p class="text-center"><a href="{% url 'nova-empresa' %}">Nova empresa</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>

        {% include "base/includes/js_padrao.html" %}
        {% block js %}{% endblock %}
    </body>
</html>
