{% load staticfiles %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Prêmio Colunistas</title>
        <link rel="stylesheet" href="{% static "base/css/bulma.min.css" %}">
        <link rel="stylesheet" href="{% static "base/css/main.css" %}">
        <link rel="shortcut icon" href="{% static "base/favicon.ico" %}">
    </head>

    <body>
        <section class="section">
            <div class="container">

                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}


                    <div class="columns">
                        <div class="column is-6 is-offset-3 login">
                            <div class="box is-radiusless">
                                <div class="has-text-centered">
                                    <img src="{% static "base/img/logo.png" %}" width="200" alt="">
                                    <h1 class="title">Login</h1>
                                </div>
                                <div class="field campo">
                                    <label for="" class="label">Usuário <span class="required"> <i
                                                class="fas fa-circle fa-xs"></i> Obrigatório</span></label>
                                    <input type="text" name="usuario" class="input" placeholder="Usuário">
                                </div>
                                <div class="field campo">
                                    <label for="" class="label">Senha <span class="required"> <i
                                                class="fas fa-circle fa-xs"></i> Obrigatório</span></label>
                                    <input type="password" name="senha" class="input" placeholder="Senha">
                                </div>
                                <div class="field has-text-centered">
                                    <input type="submit" class="button is-link bt1 is-radiusless" value="Entrar">
                                    <a href="{% url 'registro' %}" class="button is-link bt2 is-radiusless">Registrar</a>
                                </div>
                                <div class="field has-text-centered">
                                    <a href="{% url 'reset-senha' %}" class="has-text-weight-bold">Esqueceu sua senha?</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </section>

        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </body>

</html>
