{% extends "base/base.html" %}

{% block conteudo %}
    <div class="row my-2">
        <div class="col-md-6 offset-md-3">

            <div class="card">
                <div class="card-body">
                    <p class="card-title">
                        <h1 class="text-center">Pré-cadastro de Usuário (Fase 2)</h1>
                    </p>

                    {% include "base/includes/messages.html" with messages=messages %}

                    {% if token_usuario %}
                        <form action="{% url 'novo-usuario' token_usuario %}" method="post">
                            {% csrf_token %}
                            {{formulario_registro.as_p}}
                            <p class="text-center">
                                <input type="submit" class="btn btn-primary" value="Enviar">
                            </p>
                        </form>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
