{% extends "base/base_bulma.html" %}
{% load staticfiles %}

{% block conteudo %}
    <div class="columns">
        <div class="column is-6 is-offset-3">
            <div class="box is-radiusless">
                <div class="has-text-centered">
                    <img src="{% static "base/img/logo.png" %}" width="150" alt="">
                    <h1 class="title">Cadastro de um novo usuário</h1>
                </div>

                {% include "base/includes/messages.html" with messages=messages %}

                <form action="{% url 'registro' %}" method="post">
                    {% csrf_token %}
                    <div class="columns">
                        <div class="column is-6">
                            <div class="field campo">
                                {{formulario_registro.nome.label_tag}}
                                <!-- {% if formulario_registro.nome.field.required %}
                                    <span class="required" style="font-weight: bold;"> <i class="fas fa-circle fa-xs"></i> Obrigatório</span>
                                {% endif %} -->
                                {{formulario_registro.nome}}
                                {{formulario_registro.nome.errors}}
                                {{formulario_registro.nome.help_text}}
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-6">
                            <div class="field campo">
                                {{formulario_registro.sobrenome.label_tag}}
                                <!-- {% if formulario_registro.sobrenome.field.required %}
                                    <span class="required" style="font-weight: bold;"> <i class="fas fa-circle fa-xs"></i> Obrigatório</span>
                                {% endif %} -->
                                {{formulario_registro.sobrenome}}
                                {{formulario_registro.sobrenome.errors}}
                                {{formulario_registro.sobrenome.help_text}}
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-12">
                            <div class="field campo">
                                {{formulario_registro.email.label_tag}}
                                <!-- {% if formulario_registro.email.field.required %}
                                    <span class="required" style="font-weight: bold;"> <i class="fas fa-circle fa-xs"></i> Obrigatório</span>
                                {% endif %} -->
                                {{formulario_registro.email}}
                                {{formulario_registro.email.errors}}
                                {{formulario_registro.email.help_text}}
                            </div>
                        </div>
                    </div>

                    <div class="field has-text-centered">
                        <input type="submit" class="button is-link bt1 is-radiusless" value="Enviar">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock conteudo %}
