{% extends "base/base_bulma.html" %}
{% load staticfiles %}

{% block conteudo %}

    <div class="columns">
        <div class="column is-6 is-offset-3">
            <div class="box is-radiusless">
                <div class="has-text-centered">
                    <img src="{% static "base/img/logo.png" %}" width="150" alt="">
                    <h1 class="title">Reiniciar Senha</h1>
                </div>

                {% include "base/includes/messages.html" with messages=messages %}

                <form action="{% url 'reset-senha' %}" method="post">
                    {% csrf_token %}
                    <div class="columns">
                        <div class="column is-12">
                            <div class="field campo">
                                {{formulario.email.label_tag}}
                                {% if formulario.email.field.required %}
                                    <span class="required" style="font-weight: bold;"> <i class="fas fa-circle fa-xs"></i> Obrigatório</span>
                                {% endif %}
                                {{formulario.email}}
                                {{formulario.email.errors}}
                                {{formulario.email.help_text}}
                            </div>
                        </div>
                    </div>

                    <div class="field has-text-centered">
                        <input type="submit" class="button is-link bt1 is-radiusless" value="Enviar">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock conteudo %}
